.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-right: 30px;
  flex-shrink: 0;
  color: #ffffff;
}

.selector {
  background: #f1e4e4;
  border-radius: 4px;
  font-size: 14px;
  padding: 0 10px;
  height: 35px;
  width: 100%;
  color: #000;
  text-transform: capitalize;
}

.weaponOption {
  text-transform: capitalize;
  padding: 5px;
  font-size: 14px;
}
